@import "./reset";
@import "./fonts";
@import "./variables";
@import "./typo";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $primary-text;
  font-size: $default-font-size;
  font-style: normal;
  font-weight: 400;
  color: $color-black-default;
  scroll-behavior: smooth;

  @media screen and (max-width: $tablet-start) {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
}

.content-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: $max-content-width;

  &--smaller {
    margin: 0 auto;
    width: 100%;
    max-width: 77rem;
  }
}

@media screen and (max-width: $desktop-small) {
  .content-wrapper {
    padding: 0 20px;
  }
}

.text-wrapper {

  &--right {
    margin-left: 6rem;

    @media screen and (max-width: $tablet-start){
      margin-left: 3rem;
      text-align: right;
    }
  }

  &--left {
    margin-right: 6rem;

    @media screen and (max-width: $tablet-start){
      margin-right: 0;
    }
  }
}

a {
  text-decoration: none;
}