@import "./reset";
@import "./fonts";
@import "./variables";
@import "./typo";

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.content-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: $max-content-width;

  @media screen and (max-width: $desktop-small) {
      padding: 0 3rem;
  }

  &--smaller {
    margin: 0 auto;
    width: 100%;
    max-width: 77rem;
  }
}

.text-wrapper {

  &--right {
    margin-left: 6rem;

    @media screen and (max-width: $tablet-start){
      margin-left: 3rem;
      text-align: right;
    }
  }

  &--left {
    margin-right: 6rem;

    @media screen and (max-width: $tablet-start){
      margin-right: 3rem;
    }
  }
}

a {
  text-decoration: none;
}