.header {
  box-sizing: border-box;
  padding: 5rem;
  background-image: url('./../img/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    background: linear-gradient(243.43deg, $color-violet 16.9%, $color-blue-light 83.27%);
  }

  &__banner {

    &-text {
      text-align: center;
      margin-top: 30vh;
    }

    &-title {
      font-size: 8rem;
      line-height: 98px;
      letter-spacing: 0.1rem;
      color: $color-white-default;
      margin-bottom: 2rem;
    }

    &-subtitle {
      font-size: 1.8rem;
      line-height: 2.2rem;
      letter-spacing: 0.3rem;
      color: $color-white-default;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    position: relative;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    gap: 4rem;

    &-link {
      font-family: $nav-text;
      font-size: 1.4rem;
      line-height: 1.8rem;
      color: $color-white-default;
      position: relative;
    //
      &:before {
        content: "";
        display: inline-block;
        min-width: 1rem;
        min-height: 1rem;
        border: 1px solid white;
        border-radius: 50px;
        color: $color-white-default;
        margin-right: 1rem;
        vertical-align: center;
        }

      &:hover:before {
        background-color: white;
        transform: scale3d(150%, 150%, 150%);
        transition: all 300ms ease-in-out;
      }
    }
  }

  &__scroll-button {
    display: block;
    width: 100%;
    max-width: 4.5rem;
    height: 100%;
    max-height: 4.5rem;
    border: 1px solid $color-white-default;
    border-radius: 50%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    &:hover {
      background-color: white;
      transform: translate(-50%, -50%) scale(1.1) ;
      transform-origin: center center;
      transition: all 300ms ease-out;
    }

    &:focus {
      color: transparent;
    }

    &:hover &-icon {
      color: $color-violet;
    }

    &-icon {
      color: $color-white-default;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media screen and (max-width: $tablet-start) {
  .header__nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    position: absolute;
    top: 80px;
    right: 0;
    background: linear-gradient(243.43deg, rgba(85,183,255, 0.6) 16.9%, rgba(126,90,255, 0.6) 83.27%);
    border-top: 1px solid $color-white-default;
    box-shadow: #4B5562;
    z-index: 1;
    //opacity: 0.7;

    transition: all 0.5s ease-in-out;

    &-link {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid $color-white-default;
      padding: 20px 20px 20px;
      color: white;
      //opacity: 1;

      //&-text {
      //  opacity: 1 !important;
      //}

      &:before {
        display: none;
      }
    }
  }

  .header__nav.show {
    display: flex;
    width: 50%;
    gap: 0;
    color: white;
    justify-content: center;
    //opacity: 0.7;
  }

  .header__nav-link.show {
    //opacity: 1;
  }

  .header__nav a {
    //opacity: 1;
  }
}

@media screen and (max-width: $mobile) {
  .header__nav.show {
    width: 100%;
  }
}

