.form {
  width: 100%;
  max-width: 77rem;
  margin: 0 auto;
  text-align: center;
  padding: 6rem;
  background-color: white;
  position: absolute;
  bottom: -150px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  background-image: url('./../img/form-bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  &__address {
    line-height: 2.7rem;

    &-item {
      margin-bottom: 2.5rem;

      &-icon {
        color: $color-violet;
      }

      &-text {
        margin-left: 1rem;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__inputs {
    box-sizing: border-box;
    width: 100%;
    max-width: 31rem;
    height: 100%;
    display: flex;
    flex-direction: column;

    &-label {
      //display: inline;
      box-sizing: border-box;
      width: 100%;
      max-width: 31rem;
    }
  }

  &__title {
    font-size: 4.4rem;
    line-height: 5.4rem;
    margin-bottom: 4.2rem;
  }

  &__button {
    align-self: end;
    max-width: 14rem;

    &:hover {
      background: linear-gradient(251.06deg, $color-violet -2.19%, $color-blue-light 103.21%);
      color: white;
      border: 1px solid white;
    }
  }
}

.input {
  font-family: $primary-title;
  font-size: 1.8rem;
  line-height: 2.7rem;
  min-height: 4rem;
  border: none;
  border-bottom: 1px solid #bcbfc9;
  margin-bottom: 3rem;

  &:focus-visible {
    color: $color-black-default;
    outline: 0;
    border-bottom: 1px solid $color-black-default;
    opacity: 1;
  }

  &::placeholder {
    color: #4B5562;
    opacity: 0.5;
  }
}