.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 12rem 0;
  background-image: url('./../img/news-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  ////height: 100%;

  @media screen and (max-width: $tablet-start) {
    padding: 7rem 0;
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -11;
    top: 0;
    left: 0;
    background: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
  }

  &__slider-wrapper {

    &--outer {
      margin: 0 -10px;
      position: relative;

      @media screen and (max-width: $desktop-small) {
        //width: 700px;
      }
    }

    &--inner {
      //width: 100%;
      max-width: $max-content-width;
      box-sizing: border-box;

      @media screen and (max-width: $desktop-small) {
        max-width: 80vw;
        margin: 0 auto;
      }
    }
  }

  &__title {
    margin-bottom: 9rem;
    color: $color-white-default
  }

  &__divider {
    border-bottom: 1px solid $color-white-default;
  }

  &__post {
    box-sizing: border-box;
    width: 100%;
    max-width: 370px;
    background-color: white;
    position: relative;
    margin: 0 auto;
    display: inline-block;

    &-image {
      width: 100%;
      max-width: 370px;
      margin: 0 auto;

      &-wrapper {
        width: 100%;
        max-width: 370px;
        margin: 0 auto;
      }
    }

    &-text-wrapper {
      padding: 30px 20px;
      width: 100%;
      max-width: 370px;
      box-sizing: border-box;
    }

    &-title {
      font-size: 2.2rem;
      line-height: 2.7rem;
      margin-bottom: 1.5rem;
    }

    &-description {
      margin-bottom: 4rem;
    }

    &-details {
      display: flex;
      align-items: center;

      &-photo {
        max-width: 370px;
        border-radius: 50px;
        margin-right: 2rem;
      }

      &-author {
        font-size: 1.8rem;
        line-height: 2.2rem;
        margin-bottom: 0.5rem;
      }

      &-date {
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: $color-blue-light;
      }
    }

    &-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: 370px;
    }
  }
}