.projects {
  padding-top: 20rem;

  @media screen and (max-width: $tablet-start) {
    padding-top: 7rem;
    height: 100vh;
  }

  @media screen and (max-width: $mobile) {
    padding-top: 5rem;
    height: 100%;
  }

  &__title {
    text-align: center;
    margin-bottom: 15rem;

    @media screen and (max-width: $desktop-small) {
      margin-bottom: 5rem;
    }
  }

  &__project {
    display: flex;
    margin-bottom: 17rem;

    @media screen and (max-width: $tablet-start) {
      margin-bottom: 5rem;
    }

    @media screen and (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &-title {
      margin-bottom: 2rem;
    }

    &-description {
      line-height: 3.0rem;
      margin-bottom: 4rem;

      @media screen and (max-width: $tablet-start) {
        margin-bottom: 2rem;
      }
    }

    &-text {
      padding-top: 7rem;

      @media screen and (max-width: $desktop-small) {
        padding-top: 0;
      }

      @media screen and (max-width: $tablet-start) {
        flex-basis: 50%;
      }
    }

    &-button {
      margin-bottom: 6rem;

      @media screen and (max-width: $tablet-start) {
        margin-bottom: 2rem;
      }
    }

    &-location {

      &-icon {
        height: 100%;
        min-height: 17px;
        vertical-align: bottom;
      }

      &-text {
        font-style: italic;
        font-size: 1.5rem;
        line-height: 2rem;
        margin-left: 10px;
      }
    }

    &-picture {
      width: 39.375vw;
      max-width: 630px;

      @media screen and (max-width: $tablet-start) {
        width: 100%;
      }

      @media screen and (max-width: $desktop-small) {
        height: 29.375vw;
      }

      @media screen and (max-width: $mobile) {
        margin-top: 2rem;
        height: 100%;
      }

      &-wrapper {
        position: relative;
        display: flex;
        flex-basis: 50%;

        @media screen and (max-width: $desktop-small) {
          margin-bottom: 2rem;
        }

        &--left {

          @media screen and (max-width: $mobile) {
            order: 2;
          }
        }

        &--left, &--right {

          &:before {
            content: "";
            position: absolute;
            top: -57px;
            width: 36.5625vw;
            max-width: 585px;
            height: 100%;
            max-height: 29.375vw;
            z-index: -1;
          }
        }

        &--left {
          &:before {
            right: 260px;
            background-color: $color-blue-light;
            opacity: 0.85;
          }
        }

        &--right {
          &:before {
            left: 260px;
            background-color: $color-violet;
            opacity: 0.85;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $desktop) {
  .projects__project-picture-wrapper {

    &--left:before {
      right: 150px;
    }

    &--right:before {
      left: 150px;
    }
  }
}

@media screen and (max-width: $desktop-small) {
  .projects__project-picture-wrapper {

    &--left, &--right {
      &:before {
        top: 20px;
      }
    }

    &--left:before {
      right: -15px;

    }

    &--right:before {
      left: -15px;
    }
  }
}

@media screen and (max-width: $tablet-start) {
  .projects__project-picture-wrapper {

    &--left, &--right {
      &:before {
        top: 20px;
      }
    }

    &--left:before {
      right: -15px;
    }

    &--right:before {
      left: -15px;
    }
  }
}

@media screen and (max-width: $mobile) {
  .projects__project-picture-wrapper {

    &--left, &--right {
      &:before {
       display: none;
      }
    }
  }
}