.button {
  display: inline-block;
  text-transform: uppercase;
  font-family: $primary-title;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: $color-black-default;
  border: 1px solid $color-blue;
  padding: 1.5rem 4rem;
}